<div class="container" dir="ltr" style="font-family: Tahoma; padding: 20px;">
    <h2>TAMO Report Panel</h2>
    <table border="1" style="width: 100%; border-collapse: collapse; text-align: center;">
        <tr style="background-color: #f2f2f2;">
            <th>Work Order No.</th>
            <th>Description</th>
            <th>P/N</th>
            <th>S/N</th>
            <th>Status</th>
            <th>State</th>
        </tr>
        {% for part in parts %}
        <tr>
            <td><a href="{% url 'part_detail' part.pk %}">{{ part.work_order_no }}</a></td>
            <td>{{ part.description }}</td>
            <td>{{ part.part_info.part_number }}</td>
            <td>{{ part.serial_number }}</td>
            <td>{{ part.get_status_display }}</td>
            <td>
                <a href="{% url 'edit_part' part.pk %}" style="background: orange; color: white; padding: 5px; border-radius: 3px; text-decoration: none;">Edit / Add Note</a>
            </td>
            <td>
                <form method="POST" action="{% url 'update_status' part.pk %}" style="display: flex; gap: 5px; padding: 5px;">
                    {% csrf_token %}
                    <select name="status">
                        <option value="not started"Not started</option>
                        <option value="in progress">In progress</option>
                        <option value="in progress">Waiting</option>
                        <option value="completed">Completed</option>
                    </select>
                    <input type="text" name="note" placeholder="New Note...">
                    <button type="submit" style="background-color: #4CAF50; color: white; border: none; cursor: pointer;">Save</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>